# Python virtual environment
myenv/

# Django database files
*.sqlite3
db.sqlite3

# Django migrations & cache
__pycache__/
*.pyc
*.pyo

# Environment variables (API keys, secrets)
.env

# weird file 
.DS_Store
**/.DS_Store

